// ==========IMPORTS==========
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Braah+One&family=Bruno+Ace+SC&family=Stick+No+Bills:wght@800&display=swap');

// ==========Font==========
// font-family: 'Allerta Stencil', sans-serif;
// font-family: 'Braah One', sans-serif;
// font-family: 'Bruno Ace SC', cursive;
// font-family: 'Stick No Bills', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

// ==========HTML==========
html {
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 62.5%;

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: #ffffff;
    }

    ::-webkit-scrollbar-thumb {
        max-height: 10px;
        background-color: #ffffff;
        border-radius: 5px;
        border: 2px solid rgb(160, 160, 160);
        margin: auto;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #700000;

    }
}

// ==========BODY==========
body {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    background-color: rgb(0, 0, 92);

    // ==========INTRODUÇÂO==========
    .intro {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 3;
        background-color: #ffffff;
        transition: 1s;

        img {
            width: 300px;
        }

        p {
            color: rgb(0, 0, 0);
            font-size: 1.6rem;
            margin-top: 20px;
        }

        .logoIntroH1 {
            margin-top: 20px;
            font-size: 3.2rem;
            font-weight: bold;
            color: rgb(0, 0, 0);
            text-shadow: 0px 0px 10px rgb(255, 0, 0);

            .logo-partes {
                position: relative;
                bottom: -20px;
                display: inline-block;
                opacity: 0;


                &.activeMenuIntro {
                    bottom: 0;
                    opacity: 1;
                    transition: ease-in-out .5s;
                }

                &.fadeIntro {
                    bottom: 250px;
                    opacity: 0;
                    transition: ease-in-out .5s;
                }
            }
        }
    }

    // ===========HEADER==========
    header {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        background-color: #fff;
        border-bottom: 1px solid #961616;
        box-shadow: 0px 1px 5px 1px black;
        z-index: 2;

        .navbar {
            min-height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 24px;

            #mensagem {
                position: absolute;
                top: 75px;
                left: -2px;
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 25px;
                padding: 15px;
                font-size: 1.5rem;
                background: rgba(255, 255, 255, 0.534);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                backdrop-filter: blur(20px);
                -webkit-backdrop-filter: blur(20px);
                border-radius: 0px 5px 5px 0px;
                font-weight: bold;
                text-shadow: 0px 0px 4px rgb(255, 255, 255);
                font-family: 'Stick No Bills', sans-serif;
                cursor: pointer;

                &.aberto {
                    color: green;
                    border: 1px solid green;
                }

                &.fechado {
                    color: rgb(145, 3, 3);
                    border: 1px solid white;
                }
            }

            .nav-logo {
                font-family: 'Stick No Bills', sans-serif;
                letter-spacing: 2px;
                font-size: 40px;
                color: #961616;
                font-weight: bold;
            }

            .nav-menu {
                display: flex;
                justify-content: center;
                align-items: center;

                .nav-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 20px;

                    .nav-link {
                        color: #961616;
                        font-weight: bold;
                        font-size: 1.5rem;
                        font-family: 'Braah One', sans-serif;
                        transition: 0.7s ease-in-out;

                        &:hover {
                            color: rgb(253, 17, 0);
                            border-bottom: 1px solid red;

                        }

                    }
                }
            }

            .hamburger {
                background-color: transparent;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                text-align: center;
                right: 10px;
                border: 1px solid transparent;
                display: none;
                cursor: pointer;
                padding-top: 5px;

                .bar {
                    display: block;
                    width: 25px;
                    height: 3px;
                    margin: 5px auto;
                    transition: all .3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                    background-color: #961616;
                }
            }
        }
    }

    // ==========MAIN==========
    main {

        // ==========SLIDER==========
        .slider {
            position: relative;
            width: 100%;
            background-color: rgb(80, 80, 80);

            .myslider {
                height: 450px;
                overflow: hidden;
                display: none;

                .sliderTxt {
                    position: absolute;
                    color: white;
                    letter-spacing: 2px;
                    line-height: 35px;
                    top: 40%;
                    left: 15%;
                    -webkit-animation-name: posi;
                    -webkit-animation-duration: 2s;
                    animation-name: posi;
                    animation-duration: 2s;
                    z-index: 1;

                    h1 {
                        color: #961616;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    p {
                        font-weight: bold;
                        font-size: 20px;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .slideNext {
                right: 0;
            }

            .slidePrev,
            .slideNext {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                font-size: 50px;
                padding: 15px;
                cursor: pointer;
                transition: .1s;
                color: white;
                user-select: none;

                &:hover {
                    color: #961616;
                }
            }

            .dotsbox {
                position: absolute;
                text-align: center;
                left: 50%;
                transform: translate(-50%);
                bottom: 20px;
                cursor: pointer;

                .dot {
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    border: 3px solid #fff;
                    margin: 0 10px;
                    cursor: pointer;
                }

                .activeSlide,
                .dot:hover {
                    border-color: #961616;
                }
            }

            .slideFade {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }
        }

        .sobre {
            scroll-margin-top: 70px;
            padding: 30px 15px;
            display: flex;
            justify-content: center;
            background-color: white;

            .detalhesAreaSobre {
                user-select: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 250px;
                margin: 10px;
                padding: 8px;

                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 20px;
                }

                h2 {
                    color: white;
                }

                p {
                    text-align: justify;
                    font-size: 1.3rem;
                }

                ul {
                    li {
                        font-family: monospace;
                        // width: 100%;
                        position: relative;
                        left: 0%;
                        font-size: 1.3rem;
                        transition: all ease-in-out .5s;
                        font-weight: bold;

                        &:hover {
                            -webkit-animation-name: posi;
                            -webkit-animation-duration: 2s;
                            animation-name: posi;
                            animation-duration: 2s;
                            border-bottom: 1px solid #961616;
                        }
                    }

                }
            }
        }
    }

}

































































/* Estilos para tablets com largura mínima de 521px e máxima de 800px */
@media (min-width: 521px) and (max-width: 800px) {
    body {
        background-color: aqua;

        // ==========MAIN==========
        .intro {
            img {
                width: 290px;
            }

            p {
                color: rgb(0, 0, 0);
                font-size: 2rem;
                margin-top: 20px;
            }

            .logo {
                margin-top: 10px;
                font-size: 2.8rem;
            }
        }

        // ==========MAIN==========
        header {
            .navbar {
                .nav-logo {
                    margin: 0 auto;
                }

                .nav-menu {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    position: fixed;
                    left: -100%;
                    top: 70px;
                    gap: 0;
                    flex-direction: column;
                    background-color: #ffffff;
                    width: 100%;
                    height: 100vh;
                    text-align: center;
                    transition: 0.3s;

                    .nav-item {
                        width: 80%;
                        padding: 5px;
                        margin: 30px 0 0 0;
                        border-bottom: 2px solid #961616;
                    }

                    &.activeMenu {
                        left: 0;
                    }
                }

                .hamburger {
                    display: block;

                    &.activeMenu .bar:nth-child(2) {
                        opacity: 0;
                    }

                    &.activeMenu .bar:nth-child(1) {
                        transform: translateY(8px) rotate(45deg);
                    }

                    &.activeMenu .bar:nth-child(3) {
                        transform: translateY(-8px) rotate(-45deg);
                    }
                }
            }
        }

        // ==========MAIN==========
        main {

            // ==========SLIDER==========
            .slider {
                position: relative;
                width: 100%;
                background-color: rgb(80, 80, 80);

                .myslider {
                    height: 500px;

                    .sliderTxt {
                        line-height: 25px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        -webkit-animation-name: posi2;
                        -webkit-animation-duration: 2s;
                        animation-name: posi2;
                        animation-duration: 2s;

                        h1 {
                            font-size: 40px;
                        }

                        p {
                            font-size: 13px;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        transform: scale(1.5, 1.5);
                        -webkit-animation-name: zoomin;
                        -webkit-animation-duration: 40s;
                        animation-name: zoomin;
                        animation-duration: 40s;

                    }
                }

                // ==========ANIMAÇÕES DO SLIDE==========

                @-webkit-keyframes fade {
                    from {
                        opacity: 0.8;
                    }

                    to {
                        opacity: 1;
                    }
                }

                @keyframes fade {
                    from {
                        opacity: 0.8;
                    }

                    to {
                        opacity: 1;
                    }
                }

                @-webkit-keyframes posi2 {
                    from {
                        left: 35%;
                    }

                    to {
                        left: 50%;
                    }
                }

                @keyframes posi2 {
                    from {
                        left: 35%;
                    }

                    to {
                        left: 50%;
                    }
                }

                @-webkit-keyframes zoomin {
                    from {
                        transform: scale(1, 1);
                    }

                    to {
                        transform: scale(1.5, 1.5);
                    }
                }

                @keyframes zoomin {
                    from {
                        transform: scale(1, 1);
                    }

                    to {
                        transform: scale(1.5, 1.5);
                    }
                }
            }

            // ==========SOBRE==========
            .sobre {
                .detalhesAreaSobre {
                    width: 150px;
                    margin: 5px;
                    padding: 0px;
                }
                .missao{
                    width: 40%;
                }
                .visao{
                    width: 40%;
                }
                .valores{
                    width: 20%;
                }
            }
        }
    }
}



/* Estilos para celulares com largura máxima de 520px */
@media (max-width: 520px) {
    body {
        background-color: black;

        // ==========HEADER==========
        header {
            .navbar {
                .nav-logo {
                    margin: 0 auto;
                }

                .nav-menu {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    position: fixed;
                    left: -100%;
                    top: 70px;
                    gap: 0;
                    flex-direction: column;
                    background-color: #ffffff;
                    width: 100%;
                    height: 100vh;
                    text-align: center;
                    transition: 0.3s;

                    .nav-item {
                        width: 80%;
                        padding: 5px;
                        margin: 30px 0 0 0;
                        border-bottom: 2px solid #961616;
                    }

                    &.activeMenu {
                        left: 0;
                    }
                }

                .hamburger {
                    display: block;

                    &.activeMenu .bar:nth-child(2) {
                        opacity: 0;
                    }

                    &.activeMenu .bar:nth-child(1) {
                        transform: translateY(8px) rotate(45deg);
                    }

                    &.activeMenu .bar:nth-child(3) {
                        transform: translateY(-8px) rotate(-45deg);
                    }
                }
            }
        }

        // ==========MAIN==========
        main {

            // ==========SLIDER==========
            .slider {
                .myslider {
                    height: 400px;

                    .sliderTxt {
                        h1 {
                            font-size: 30px;
                        }
                    }
                }

                .dotsbox {
                    .dot {
                        margin: 0 4px;
                    }
                }

                .slidePrev,
                .slideNext {
                    position: absolute;
                    top: calc(70px + 50%);
                    transform: translate(0, -100%);
                    font-size: 30px;
                    padding: 15px;
                }
            }

            // ==========SOBRE==========
            .sobre {
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                .detalhesAreaSobre {
                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 2rem;

                        li {
                            left: 0;

                            &:hover {
                                -webkit-animation-name: posi;
                                -webkit-animation-duration: 0s;
                                animation-name: posi;
                                animation-duration: 0s;
                            }
                        }
                    }
                }
            }
        }
    }
}
















// ==========ANIMAÇÕES==========
@-webkit-keyframes fade {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes posi {
    from {
        left: 0%;
    }

    to {
        left: 15%;
    }
}

@keyframes posi {
    from {
        left: 0%;
    }

    to {
        left: 15%;
    }
}