@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Braah+One&family=Bruno+Ace+SC&family=Stick+No+Bills:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 62.5%;
}
html ::-webkit-scrollbar {
  width: 8px;
}
html ::-webkit-scrollbar-track {
  background-color: #ffffff;
}
html ::-webkit-scrollbar-thumb {
  max-height: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid rgb(160, 160, 160);
  margin: auto;
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #700000;
}

body {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}
body .intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  background-color: #ffffff;
  transition: 1s;
}
body .intro img {
  width: 300px;
}
body .intro p {
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  margin-top: 20px;
}
body .intro .logoIntroH1 {
  margin-top: 20px;
  font-size: 3.2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 10px rgb(255, 0, 0);
}
body .intro .logoIntroH1 .logo-partes {
  position: relative;
  bottom: -20px;
  display: inline-block;
  opacity: 0;
}
body .intro .logoIntroH1 .logo-partes.activeMenuIntro {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
body .intro .logoIntroH1 .logo-partes.fadeIntro {
  bottom: 250px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
body header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid #961616;
  box-shadow: 0px 1px 5px 1px black;
  z-index: 2;
}
body header .navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
body header .navbar #mensagem {
  position: absolute;
  top: 75px;
  left: -2px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  padding: 15px;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.534);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 0px 5px 5px 0px;
  font-weight: bold;
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
  font-family: "Stick No Bills", sans-serif;
  cursor: pointer;
}
body header .navbar #mensagem.aberto {
  color: green;
  border: 1px solid green;
}
body header .navbar #mensagem.fechado {
  color: rgb(145, 3, 3);
  border: 1px solid white;
}
body header .navbar .nav-logo {
  font-family: "Stick No Bills", sans-serif;
  letter-spacing: 2px;
  font-size: 40px;
  color: #961616;
  font-weight: bold;
}
body header .navbar .nav-menu {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header .navbar .nav-menu .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}
body header .navbar .nav-menu .nav-item .nav-link {
  color: #961616;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Braah One", sans-serif;
  transition: 0.7s ease-in-out;
}
body header .navbar .nav-menu .nav-item .nav-link:hover {
  color: rgb(253, 17, 0);
  border-bottom: 1px solid red;
}
body header .navbar .hamburger {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  right: 10px;
  border: 1px solid transparent;
  display: none;
  cursor: pointer;
  padding-top: 5px;
}
body header .navbar .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #961616;
}
body main .slider {
  position: relative;
  width: 100%;
  background-color: rgb(146, 146, 146);
  border-bottom: 2.5px solid #961616;
}
body main .slider :first-child {
  display: block;
}
body main .slider .myslider {
  height: 450px;
  overflow: hidden;
  display: none;
}
body main .slider .myslider .sliderTxt {
  position: absolute;
  letter-spacing: 2px;
  line-height: 35px;
  top: 40%;
  left: 15%;
  -webkit-animation-name: posi;
  -webkit-animation-duration: 2s;
  animation-name: posi;
  animation-duration: 2s;
  z-index: 1;
}
body main .slider .myslider .sliderTxt h1 {
  color: #961616;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 40px;
  word-spacing: 5px;
}
body main .slider .myslider .sliderTxt p {
  color: #7c0505;
  font-weight: bold;
  font-size: 20px;
}
body main .slider .myslider img {
  width: 100%;
  height: 100%;
  transform: scale(1, 1);
  -webkit-animation-name: zoomin;
  -webkit-animation-duration: 40s;
  animation-name: zoomin;
  animation-duration: 40s;
}
body main .slider .slideNext {
  right: 0;
}
body main .slider .slidePrev,
body main .slider .slideNext {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 50px;
  padding: 15px;
  cursor: pointer;
  transition: 0.1s;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
body main .slider .slidePrev:hover,
body main .slider .slideNext:hover {
  color: #961616;
}
body main .slider .dotsbox {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
  cursor: pointer;
}
body main .slider .dotsbox .dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 0 10px;
  cursor: pointer;
}
body main .slider .dotsbox .activeSlide,
body main .slider .dotsbox .dot:hover {
  border-color: #961616;
}
body main .slider .slideFade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
body main .sobre {
  scroll-margin-top: 70px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}
body main .sobre h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  text-align: center;
  margin: 0;
  font-family: "Stick No Bills", sans-serif;
  letter-spacing: 2px;
  color: #961616;
  font-size: 3rem;
}
body main .sobre .conteudoSobre {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body main .sobre .conteudoSobre .detalhesAreaSobre {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 10px;
  padding: 8px;
}
body main .sobre .conteudoSobre .detalhesAreaSobre img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}
body main .sobre .conteudoSobre .detalhesAreaSobre h2 {
  text-align: center;
  color: rgb(0, 104, 104);
}
body main .sobre .conteudoSobre .detalhesAreaSobre p {
  text-align: justify;
  font-size: 1.3rem;
}
body main .sobre .conteudoSobre .detalhesAreaSobre ul li {
  font-family: monospace;
  position: relative;
  left: 0%;
  font-size: 1.3rem;
  transition: all ease-in-out 0.5s;
  font-weight: bold;
}
body main .sobre .conteudoSobre .detalhesAreaSobre ul li:hover {
  -webkit-animation-name: posi;
  -webkit-animation-duration: 2s;
  animation-name: posi;
  animation-duration: 2s;
  border-bottom: 1px solid #961616;
}
body main .servicos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  scroll-margin-top: 50px;
  padding: 15px;
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/fundoServicos.webp");
  background-size: cover;
  background-attachment: fixed;
}
body main .servicos h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  margin: 15px;
  font-family: "Stick No Bills", sans-serif;
  letter-spacing: 2px;
  color: #961616;
  border-radius: 10px;
  padding: 3px;
  background-color: white;
  font-size: 3rem;
  border: 1px solid #961616;
  box-shadow: 0px 0px 10px 1px white;
  padding: 8px;
}
body main .servicos .portifolioProdutos {
  border-radius: 15px;
  max-width: 800px;
  margin: 10px auto 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #fff;
  border: 2px solid #961616;
}
body main .servicos .portifolioProdutos .produto {
  outline: none;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  color: rgb(172, 0, 0);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
body main .servicos .portifolioProdutos .produto:hover {
  transform: scale(0.9);
  border: 1px solid #961616;
}
body main .servicos .portifolioProdutos .produto label {
  font-size: small;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 1px;
  cursor: pointer;
}
body main .servicos .portifolioProdutos .produto div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
body main .servicos .portifolioProdutos .produto .produto1 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/Adesivo/adesivo.webp");
}
body main .servicos .portifolioProdutos .produto .produto2 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/banner/banner.webp");
}
body main .servicos .portifolioProdutos .produto .produto3 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/blocoDeComanda/blocoDeComanda.webp");
}
body main .servicos .portifolioProdutos .produto .produto4 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/caixaPersonalizada/caixaPersonalizada.webp");
}
body main .servicos .portifolioProdutos .produto .produto5 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/Calendario/calendario.webp");
}
body main .servicos .portifolioProdutos .produto .produto6 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/Camisa/camisa.webp");
}
body main .servicos .portifolioProdutos .produto .produto7 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/Cardapio/cardapio.webp");
}
body main .servicos .portifolioProdutos .produto .produto8 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/carimbos/carimbo.webp");
}
body main .servicos .portifolioProdutos .produto .produto9 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/cartaoDeVisita/cartaoDeVisita.webp");
}
body main .servicos .portifolioProdutos .produto .produto10 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/chaveiro/chaveiro.webp");
}
body main .servicos .portifolioProdutos .produto .produto11 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/convite/convite.webp");
}
body main .servicos .portifolioProdutos .produto .produto12 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/copia/copia.webp");
}
body main .servicos .portifolioProdutos .produto .produto13 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/Caneca/caneca.webp");
}
body main .servicos .portifolioProdutos .produto .produto14 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/cracha/cracha.webp");
}
body main .servicos .portifolioProdutos .produto .produto15 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/credencial/credencial.webp");
}
body main .servicos .portifolioProdutos .produto .produto16 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/display/display.webp");
}
body main .servicos .portifolioProdutos .produto .produto17 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/encadernacao/encadernacao.webp");
}
body main .servicos .portifolioProdutos .produto .produto18 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/ficha/ficha.webp");
}
body main .servicos .portifolioProdutos .produto .produto19 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/folder/folder.webp");
}
body main .servicos .portifolioProdutos .produto .produto20 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/impressora3D/impressora3D.webp");
}
body main .servicos .portifolioProdutos .produto .produto21 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/pasta/pasta.webp");
}
body main .servicos .portifolioProdutos .produto .produto22 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/plastificacao/plastificacao.webp");
}
body main .servicos .portifolioProdutos .produto .produto23 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/plotter/plotter.webp");
}
body main .servicos .portifolioProdutos .produto .produto24 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/scanner/scanner.webp");
}
body main .servicos .modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
body main .servicos .modal .modal-content {
  position: relative;
  background-color: #ffffff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
}
body main .servicos .modal .modal-content .close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  right: 10px;
  top: 0;
}
body main .servicos .modal .modal-content .close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
body main .servicos .modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
body main .servicos .modal .modal-content .conteudoModal {
  display: grid;
  grid-template-columns: 50% 50%;
}
body main .servicos .modal .modal-content .conteudoModal .areaImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main .servicos .modal .modal-content .conteudoModal .areaImg h1 {
  text-align: center;
  border: none;
}
body main .servicos .modal .modal-content .conteudoModal .areaImg .imgModal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background-size: contain;
  background-position: center center;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  transition: all ease-in-out 1s;
}
body main .servicos .modal .modal-content .conteudoModal .areaDetalhes {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  background-color: rgb(248, 248, 255);
}
body main .servicos .modal .modal-content .conteudoModal .areaDetalhes h1 {
  text-align: center;
  text-decoration: underline;
  border: none;
}
body main .servicos .modal .modal-content .conteudoModal .areaDetalhes .detalhes p {
  text-align: left;
  color: #961616;
  font-size: 1.5rem;
  font-weight: bold;
}
body main .clientes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  scroll-margin-top: 50px;
  padding: 15px;
  background-image: radial-gradient(circle, #f3e7ff, #9b59b6, purple);
}
body main .clientes h2 {
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  padding: 20px;
  font-size: 40px;
  color: #961616;
  font-family: "Stick No Bills", sans-serif;
  letter-spacing: 3px;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
body main .clientes .logoClientes {
  margin: 0 auto;
  max-width: 700px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  background-color: rgba(218, 0, 0, 0);
  gap: 1px;
}
body main .clientes .logoClientes .cliente {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 2px solid rgb(152, 62, 255);
  box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
  border-radius: 50%;
  transition: all ease 0.4s;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
}
body main .clientes .logoClientes .cliente:hover {
  cursor: pointer;
  transform: scale(0.9);
  border: 2px solid #961616;
  box-shadow: 0px 0px 10px 1px #ffffff;
}
body main .clientes .logoClientes .cliente1 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/logoClientes/iconeAprosoja.webp");
}
body main .clientes .logoClientes .cliente2 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/logoClientes/iconeBomFuturo.webp");
}
body main .clientes .logoClientes .cliente3 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/logoClientes/iconeAmaggi.webp");
}
body main .clientes .logoClientes .cliente4 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/logoClientes/iconeCuiaba.webp");
}
body main .clientes .logoClientes .cliente5 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/logoClientes/iconeDrogasil.webp");
}
body main .clientes .logoClientes .cliente6 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/logoClientes/iconeBancoBradesco.webp");
}
body main .clientes .logoClientes .cliente7 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/logoClientes/iconeHospitalS%C3%A3oMateus.webp");
}
body main .clientes .logoClientes .cliente8 {
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/logoClientes/iconeFamato.webp");
}
body main .clientes h3 {
  font-family: "Stick No Bills", sans-serif;
  text-align: center;
  color: #961616;
  font-size: 2rem;
  margin: 25px 0px 5px 0px;
}
body main .clientes .avaliacoes {
  width: 650px;
  height: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  margin: 0 auto;
  border: 2px solid white;
  background-color: rgba(0, 255, 255, 0);
  border-radius: 5px;
}
body main .clientes .avaliacoes .avaliacaoCliente {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 114px;
  height: 120px;
  margin: 5px 5px;
  border: 2px solid white;
  background-color: rgba(204, 204, 204, 0);
  border-radius: 8px;
  color: white;
}
body main .clientes .avaliacoes .avaliacaoCliente1 .avaliacaoCliente1Imagem {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/logoClientes/cliente.webp");
  background-size: cover;
}
body main .clientes .avaliacoes .avaliacaoCliente1 .estrelasCliente1 .fa-star {
  color: gold;
}
body main .clientes .avaliacoes .avaliacaoCliente2 .avaliacaoCliente2Imagem {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/logoClientes/cliente.webp");
  background-size: cover;
}
body main .clientes .avaliacoes .avaliacaoCliente2 .estrelasCliente2 .fa-star {
  color: gold;
}
body main .clientes .avaliacoes .avaliacaoCliente3 .avaliacaoCliente3Imagem {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/logoClientes/cliente.webp");
  background-size: cover;
}
body main .clientes .avaliacoes .avaliacaoCliente3 .estrelasCliente3 .fa-star {
  color: gold;
}
body main .clientes .avaliacoes .avaliacaoCliente4 .avaliacaoCliente4Imagem {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/logoClientes/cliente.webp");
  background-size: cover;
}
body main .clientes .avaliacoes .avaliacaoCliente4 .estrelasCliente4 .fa-star {
  color: gold;
}
body main .clientes .avaliacoes .avaliacaoCliente5 .avaliacaoCliente5Imagem {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/logoClientes/cliente.webp");
  background-size: cover;
}
body main .clientes .avaliacoes .avaliacaoCliente5 .estrelasCliente5 .fa-star {
  color: gold;
}
body main .clientes .avaliacoes .avaliacaoCliente6 .avaliacaoCliente6Imagem {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/logoClientes/cliente.webp");
  background-size: cover;
}
body main .clientes .avaliacoes .avaliacaoCliente6 .estrelasCliente6 .fa-star {
  color: gold;
}
body main .clientes .avaliacoes .avaliacaoCliente7 .avaliacaoCliente7Imagem {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px;
  border: 2px solid rgb(255, 255, 255);
  background-image: url("https://wilgnerjr.github.io/imagens/imgOtimizada/logoClientes/cliente.webp");
  background-size: cover;
}
body main .clientes .avaliacoes .avaliacaoCliente7 .estrelasCliente7 .fa-star {
  color: gold;
}
body main #contato {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  background-image: radial-gradient(circle, #525252, #404040, rgb(0, 0, 0));
  scroll-margin-top: 70px;
}
body main #contato h2 {
  font-size: 40px;
  font-family: "Stick No Bills", sans-serif;
  color: white;
  letter-spacing: 3px;
  text-shadow: 0px 0px 6px black;
  text-align: center;
}
body main #contato .areaContato {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 20px 20px;
  color: white;
}
body main #contato .areaContato .redesSociais {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0);
  margin: 10px 0;
}
body main #contato .areaContato .redesSociais .titleRedesScociais h2 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 2rem;
  letter-spacing: 18px;
  text-shadow: 0px 0px 10px black;
}
body main #contato .areaContato .redesSociais div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
}
body main #contato .areaContato .redesSociais div a .redeInstagram {
  background-color: #ffffff;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
  border: 2px solid transparent;
  font-size: 2rem;
  background: rgba(110, 110, 110, 0.3);
  box-shadow: 0px 0px 15px 0 rgba(255, 0, 0, 0.37);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.18);
}
body main #contato .areaContato .redesSociais div a .redeInstagram .fa-instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  color: rgb(223, 91, 91);
}
body main #contato .areaContato .redesSociais div a .redeInstagram:hover {
  border-radius: 50%;
  background-color: white;
  border: 2px solid #961616;
  font-size: 2.2rem;
  box-shadow: none;
}
body main #contato .areaContato .redesSociais .fa-facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  color: #3B5998;
  background-color: #ffffff;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
  border: 2px solid transparent;
  font-size: 2rem;
  margin: 10px;
  background: rgba(110, 110, 110, 0.3);
  box-shadow: 0px 0px 15px 0 rgba(0, 78, 247, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
body main #contato .areaContato .redesSociais .fa-facebook:hover {
  border-radius: 50%;
  background-color: white;
  border: 2px solid rgb(59, 89, 152);
  font-size: 2.2rem;
  box-shadow: none;
}
body main #contato .areaContato .redesSociais .fa-whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  color: #25D366;
  background-color: #ffffff;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
  border: 2px solid transparent;
  font-size: 2rem;
  margin: 10px;
  background: rgba(110, 110, 110, 0.3);
  box-shadow: 0px 0px 15px 0 rgba(0, 255, 94, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
body main #contato .areaContato .redesSociais .fa-whatsapp:hover {
  border-radius: 50%;
  background-color: white;
  border: 2px solid rgb(37, 211, 102);
  box-shadow: none;
  font-size: 2.2rem;
}
body main #contato .areaContato .formulario {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
body main #contato .areaContato .formulario h2 {
  color: #f5f5f5;
  border-radius: 8px;
  font-size: 2.5rem;
  font-family: sans-serif;
  border-radius: 10px;
}
body main #contato .areaContato .formulario form {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
body main #contato .areaContato .formulario form label {
  color: #fffdfd;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
  text-shadow: 0px 0px 5px #961616;
}
body main #contato .areaContato .formulario form input {
  padding: 10px;
  border: 1px solid red;
  margin-bottom: 10px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
  background: rgb(33, 33, 33);
  border-radius: 3px;
  border: 1px solid rgb(255, 255, 255);
}
body main #contato .areaContato .formulario form input::-moz-placeholder {
  color: rgb(255, 255, 255);
}
body main #contato .areaContato .formulario form input::placeholder {
  color: rgb(255, 255, 255);
}
body main #contato .areaContato .formulario form input:focus {
  color: #961616;
  border: 1px solid #961616;
  border-radius: 10px;
}
body main #contato .areaContato .formulario form textarea {
  resize: none;
  padding: 10px;
  outline: none;
  border: 0;
  font-size: 15px;
  margin-bottom: 30px;
  transition: all 0.3s;
  color: #363636;
  background: rgb(34, 34, 34);
  border-radius: 3px;
  border: 1px solid rgb(255, 255, 255);
}
body main #contato .areaContato .formulario form textarea::-moz-placeholder {
  color: rgb(255, 255, 255);
}
body main #contato .areaContato .formulario form textarea::placeholder {
  color: rgb(255, 255, 255);
}
body main #contato .areaContato .formulario form textarea:focus {
  color: #961616;
  border: 1px solid #961616;
  border-radius: 10px;
}
body main #contato .areaContato .formulario form button {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: all 0.5s;
  margin-bottom: 15px;
}
body main #contato .areaContato .formulario form button:hover {
  background-color: #f5f5f5;
  color: green;
  border-radius: 10px;
}
body main .whatsAppFlutuante a .fa-whatsapp {
  z-index: 1;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 25px;
  color: green;
  background-color: white;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: animaWhatsApp;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
body footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
  width: 100%;
  height: auto;
  background-color: #5e5e5e;
}
body footer .endereco h2 {
  font-family: "Stick No Bills", sans-serif;
  color: white;
  margin: 25px 0px;
  text-shadow: none;
}
body footer .endereco address {
  text-align: justify;
  line-height: 25px;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: sans-serif;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}
body footer .endereco address .geolocalizacao {
  max-width: 500px;
  padding: 20px 0px;
}
body footer .endereco address .geolocalizacao iframe {
  margin: 0 auto;
  width: 100%;
  border: 2px solid #ffffff;
  border-radius: 8px;
}
body footer .horarioDeFuncionamentofooter {
  display: flex;
  flex-direction: column;
}
body footer .horarioDeFuncionamentofooter div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body footer .horarioDeFuncionamentofooter div h2 {
  font-family: "Stick No Bills", sans-serif;
  color: white;
  margin: 20px 0;
}
body footer .horarioDeFuncionamentofooter div p {
  text-align: left;
  font-weight: bold;
  color: white;
}
body footer .horarioDeFuncionamentofooter img {
  margin-top: 55px;
  width: 300px;
  height: 210px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Estilos para tablets com largura mínima de 521px e máxima de 800px */
@media (min-width: 521px) and (max-width: 800px) {
  body .intro img {
    width: 290px;
  }
  body .intro p {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    margin-top: 20px;
  }
  body .intro .logo {
    margin-top: 10px;
    font-size: 2.8rem;
  }
  body header .navbar {
    overflow: auto;
  }
  body header .navbar .nav-logo {
    margin: 0 auto;
  }
  body header .navbar .nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    overflow: auto;
    padding: 50px 0;
  }
  body header .navbar .nav-menu .nav-item {
    width: 80%;
    padding: 5px;
    margin: 0px 0 0 0;
    border-bottom: 2px solid #961616;
  }
  body header .navbar .nav-menu .nav-item .nav-link {
    width: 100%;
    height: 100%;
  }
  body header .navbar .nav-menu .nav-item .nav-link:hover {
    border: none;
  }
  body header .navbar .nav-menu.activeMenu {
    left: 0;
  }
  body header .navbar .hamburger {
    display: block;
  }
  body header .navbar .hamburger.activeMenu .bar:nth-child(2) {
    opacity: 0;
  }
  body header .navbar .hamburger.activeMenu .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  body header .navbar .hamburger.activeMenu .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  body main .slider {
    position: relative;
    width: 100%;
    background-color: rgb(80, 80, 80);
  }
  body main .slider .myslider {
    height: 500px;
  }
  body main .slider .myslider .sliderTxt {
    line-height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation-name: posi2;
    -webkit-animation-duration: 2s;
    animation-name: posi2;
    animation-duration: 2s;
  }
  body main .slider .myslider .sliderTxt h1 {
    font-size: 40px;
  }
  body main .slider .myslider .sliderTxt p {
    font-size: 13px;
  }
  @keyframes fade {
    from {
      opacity: 0.8;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes posi2 {
    from {
      left: 35%;
    }
    to {
      left: 50%;
    }
  }
  @keyframes zoomin {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.5, 1.5);
    }
  }
  body main .sobre .detalhesAreaSobre {
    width: 150px;
    margin: 5px;
    padding: 0px;
  }
  body main .sobre .missao {
    width: 45%;
  }
  body main .sobre .visao {
    width: 45%;
  }
  body main .sobre .valores {
    width: 10%;
  }
  body main .servicos .modal {
    overflow: auto;
    width: 100%;
    height: 100vh;
  }
  body main .servicos .modal .modal-content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body main .servicos .modal .modal-content .conteudoModal {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
  body main .clientes .avaliacoes {
    width: 90%;
  }
  body main #contato .areaContato {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 100%;
  }
  body footer {
    height: auto;
    flex-direction: column-reverse;
  }
  body footer .horarioDeFuncionamentofooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  body footer .horarioDeFuncionamentofooter div {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
  }
  body footer .horarioDeFuncionamentofooter div h2 {
    padding-left: 20px;
    text-align: left;
    font-size: 1.5rem;
  }
  body footer .horarioDeFuncionamentofooter div p {
    margin: 10px 5px;
    font-size: 1.2rem;
    padding-left: 20px;
    text-align: left;
  }
  body footer .horarioDeFuncionamentofooter img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 0px 0px 40px black;
    margin: 5px;
  }
  body footer .endereco {
    margin: 2rem;
  }
  body footer .endereco h2 {
    text-align: center;
  }
}
/* Estilos para celulares com largura máxima de 520px */
@media (max-width: 520px) {
  body header .navbar .nav-logo {
    margin: 0 auto;
  }
  body header .navbar .nav-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
  }
  body header .navbar .nav-menu .nav-item {
    width: 80%;
    padding: 5px;
    margin: 30px 0 0 0;
    border-bottom: 2px solid #961616;
  }
  body header .navbar .nav-menu .nav-item .nav-link {
    width: 100%;
    height: 100%;
  }
  body header .navbar .nav-menu .nav-item .nav-link:hover {
    border: none;
  }
  body header .navbar .nav-menu.activeMenu {
    left: 0;
  }
  body header .navbar .hamburger {
    display: block;
  }
  body header .navbar .hamburger.activeMenu .bar:nth-child(2) {
    opacity: 0;
  }
  body header .navbar .hamburger.activeMenu .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  body header .navbar .hamburger.activeMenu .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  body main .slider .myslider {
    height: 400px;
  }
  body main .slider .myslider .sliderTxt h1 {
    font-size: 30px;
  }
  body main .slider .dotsbox .dot {
    margin: 0 4px;
  }
  body main .slider .slidePrev,
  body main .slider .slideNext {
    position: absolute;
    top: calc(70px + 50%);
    transform: translate(0, -100%);
    font-size: 30px;
    padding: 15px;
  }
  body main .sobre {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  body main .sobre .conteudoSobre .detalhesAreaSobre ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  body main .sobre .conteudoSobre .detalhesAreaSobre ul li {
    left: 0;
  }
  body main .sobre .conteudoSobre .detalhesAreaSobre ul li:hover {
    -webkit-animation-name: posi;
    -webkit-animation-duration: 0s;
    animation-name: posi;
    animation-duration: 0s;
  }
  body main .servicos .portifolioProdutos {
    background-color: transparent;
    border: none;
  }
  body main .servicos .portifolioProdutos .produto {
    width: 85px;
    height: 85px;
  }
  body main .servicos .modal {
    overflow: auto;
  }
  body main .servicos .modal .modal-content {
    overflow: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px;
    top: 70px;
    border: 2px solid #700000;
  }
  body main .servicos .modal .modal-content .conteudoModal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
  }
  body main .servicos .modal .modal-content .conteudoModal .areaImg h1 {
    padding: 0;
    margin: 5px;
  }
  body main .servicos .modal .modal-content .conteudoModal .areaImg .img {
    width: 100px;
    height: 100px;
  }
  body main .servicos .modal .modal-content .conteudoModal .areaDetalhes {
    height: auto;
    margin: 0;
    padding: 0;
  }
  body main .servicos .modal .modal-content .conteudoModal .areaDetalhes h1 {
    padding: 0px;
    margin: 3px 0px;
  }
  body main .servicos .modal .modal-content .conteudoModal .areaDetalhes .detalhes {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
  }
  body main .clientes .logoClientes .cliente {
    width: 80px;
    height: 80px;
  }
  body main .clientes .avaliacoes {
    width: 100%;
    height: 150px;
    padding: 3px 0;
  }
  body main .clientes .avaliacoes .avaliacaoCliente {
    height: 100px;
    padding: 5px;
  }
  body main #contato .areaContato {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 100%;
  }
  body footer {
    flex-direction: column-reverse;
  }
  body footer .horarioDeFuncionamentofooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  body footer .horarioDeFuncionamentofooter div {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
  }
  body footer .horarioDeFuncionamentofooter div h2 {
    padding-left: 20px;
    text-align: left;
    font-size: 1.5rem;
  }
  body footer .horarioDeFuncionamentofooter div p {
    margin: 10px 5px;
    font-size: 1.2rem;
    padding-left: 20px;
    text-align: left;
  }
  body footer .horarioDeFuncionamentofooter img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 0px 0px 40px black;
    margin: 5px;
  }
  body footer .endereco {
    margin: 2rem;
  }
  body footer .endereco h2 {
    text-align: center;
  }
}
@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
@keyframes posi {
  from {
    left: 0%;
  }
  to {
    left: 15%;
  }
}
@keyframes animaWhatsApp {
  0% {
    color: green;
    background: white;
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    color: white;
    background: green;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
@keyframes posi2 {
  from {
    left: 35%;
  }
  to {
    left: 50%;
  }
}
@keyframes zoomin {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}/*# sourceMappingURL=style.css.map */